# Node modules
node_modules
# Heroku
whispering-hollows-37267
public/bundle.js
public/bundle.js.map
secrets.js
.DS_Store
npm-debug.log
yarn-error.log

# the istanbul test coverage report
coverage
.nyc_output
