@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
}

label {
  display: block;
}

.bold {
  font-weight: bold;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.gallery {
  justify-content: space-around;
  flex-wrap: wrap;
}

.action-button {
  font-size: 1.2rem;
  padding: 1rem 1.25rem;
  border-radius: 6px;
}

button {
  background-color: #2cc6f9;
  color: #fff;
  font-size: .8rem;
  padding: .3rem .5rem;
  border-radius: 6px;
  border: none;
}

.item, .item-detail {
  margin: 0 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 1rem;
  overflow: hidden;
}

.item {
  max-width: 300px;
  max-height: 400px;
}

.item-detail {
  max-width: 550px;
  /* max-height: 500px; */
}

.item-image {
  width: 100%;
  height: auto;
}

.item .header, .item-detail .header {
  background-color: #2cc6f9;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
}

.single-product {
  margin-bottom: 50px;
}

.footer {
  color: #2cc6f9;
  text-align: right;
  padding: 1rem 0;
  margin-right: 1rem;
  /* background-color: tomato; */
}

.description {
  padding: 0 .75rem;
}

table {
    border-collapse: collapse;
    min-width: 300px;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd){background-color: #f2f2f2}

th {
    background-color: #2cc6f9;
    color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout {
  align-items: center;
  min-width: 500px;
  max-width: 600px;
}
