<div class="Theme__theme___2NcED" style="height: 42px;">
  <div class="Swatch__swatch___3njYU" style="background: rgb(24, 96, 140);" >(24, 96, 140)</div>
  <div class="Swatch__swatch___3njYU" style="background: rgb(42, 112, 140);" >(42, 112, 140)</div>
  <div class="Swatch__swatch___3njYU" style="background: rgb(46, 154, 166);" >(46, 154, 166)</div>
  <div class="Swatch__swatch___3njYU" style="background: rgb(176, 217, 89);" >(176, 217, 89)</div>
  <div class="Swatch__swatch___3njYU" style="background: rgb(87, 89, 34);" >(87, 89, 34)</div>
</div>
